h3 {
    font-family: monospace;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

.foto-img {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.foto {
    width: 20%;
    margin: 0 auto;
}

.foto img{
    width: 100%;
    border-radius: 10%;
}

.foto p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}
